<div mat-dialog-content>
  <mat-horizontal-stepper>
    <mat-step label="Add Warehouse">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="whName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="whAddress">
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" (click)="addWH()">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getWH()">Add Zone</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="zoneName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Warehouse</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myWH" (click)="setWHID(el.name)">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" (click)="addZone()">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getZone()">Add Shelf</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="shelfName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Zone</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myZone" (click)="setZoneID(el.name)">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" (click)="addShelf()">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getShelf()">Add Element</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="itemName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Shelf</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myShelf" (click)="setShelfID(el.name)">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" (click)="addItem()">ADD</button>
    </mat-step>

  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
