<div mat-dialog-content>
  <mat-horizontal-stepper>
    <mat-step label="Add Warehouse">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getWH()">Add Zone</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Warehouse</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myWH">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getZone()">Add Shelf</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Zone</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myZone">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary">ADD</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        <p (click)="getShelf()">Add Element</p>
      </ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select Shelf</mat-label>
        <mat-select>
          <mat-option value="option" *ngFor="let el of myShelf">{{el.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary">ADD</button>
    </mat-step>

  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
