<h1 mat-dialog-title>Hi, {{userLogin}}</h1>
<div mat-dialog-content>
  <p>Put there new user:</p>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input #login type="text"
             matInput
             placeholder="login"
             formControlName="stateGroup"
             required
             >
    </mat-form-field>
  </form>
  <form [formGroup]="passwordForm">
    <mat-form-field>
      <input #password type="text"
             matInput
             placeholder="password"
             formControlName="stateGroup"
             required
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!loginForm.valid || !passwordForm.valid" [mat-dialog-close]="data.animal" cdkFocusInitial (click)="addUser(login, password)">Add</button>
</div>
<br>
<section>
  <h1>List of users</h1>
  <mat-selection-list #users [multiple]="false">
    <mat-list-option *ngFor="let user of userList" [value]="user.login">
      login: {{user.login}} | password: {{user.password}}
    </mat-list-option>
  </mat-selection-list>
</section>
