<section style="width: 90vw; height: 90vh">
  <h1 style="margin: 10px">New Invoice</h1>
  <section style="text-align: center">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Invoice No</mat-label>
      <input #invoice matInput
             type="text"
             [(ngModel)]="invoiceValue"
             maxlength="256"
             placeholder="Ex.: 123"
             formControlName="stateGroup"
             required
             (change)="check(invoice.value)"
      >
      <mat-hint align="start"><strong>Don`t exceed the maximum size</strong> </mat-hint>
      <mat-hint align="end">{{invoice.value.length}} / 256</mat-hint>
      <button mat-button *ngIf="invoiceValue" matSuffix mat-icon-button aria-label="Clear" (click)="invoiceValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field><br>
  </section>
  <!--Content-->
  <mat-divider></mat-divider>
  <section style="text-align: center">
    <div class="row" *ngFor="let element of qtyValue">
      <app-new-element [myFlag]="clearData" [myElements]="myItems" (messageEvent)="receiveMessage($event)"></app-new-element>
    </div>
  </section>
  <mat-divider></mat-divider>
  <!--Footer-->
  <section style="position: absolute; right: 10px; bottom: 10px">
  <div class="button-row">
    <button mat-raised-button style="margin-right: 10px" [disabled]="myFlag" (click)="refreshData()">Restart</button>
    <button mat-raised-button [disabled]="myFlag" (click)="sendData()">Send</button>
  </div>
</section>
</section>
