<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Position: {{myEl.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{serialNo}}
      <br>
      {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="!free">
      <button mat-button style="border-radius: 50%;" (click)="moveBtn()">Move</button>
      <button mat-button style="border-radius: 50%;" (click)="scrapBtn()">Scrap</button>
    </div>
    <div *ngIf="free">
      <button mat-button style="border-radius: 50%;" (click)="addBtn()">Add</button>
      <button mat-button style="border-radius: 50%;" (click)="bookBtn()">Book</button>
    </div>
  </mat-card-actions>
</mat-card>
